
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&family=Roboto+Slab:wght@300&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto' , sans-serif;
}

/* global styles*/
html{
    scroll-behavior: smooth;
    font-size: 1.2rem;
}

body {
    height: 100vh; 
    width: 100vw;
}

ul li{
    list-style: none;
}


header {
    background:#7AB648;
    color: #fff;
    text-align: center;
    letter-spacing: 0.2rem;
    padding: 0.5rem;
    margin-bottom: 0.3rem;
    box-shadow: 5px 8px 8px #FF7F50;  
}

h1,
h2,
h3,
h4,
h5,
#drinks-score,
#answers-score {
    font-family: 'MedievalSharp', cursive;
    font-weight: 900;
    letter-spacing: 0.4rem;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

/*landing page*/
.bg-landing{
    background: #7AB648;
    width: 100%;
    height: 100%;
    position: fixed;
    background-image: url('/media/index-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.8;
  
}

.jumbotron{
    background-color: #fafafa;
    background-image: linear-gradient(315deg, #fafafa 0%, #b0f3f1 74%);
    max-height: 80vh;
    max-width: 45%;
    margin: 0 auto;
    border-radius: 10px;
    padding:3rem 1rem;
    color: #000;
    font-weight: 400;
    line-height: 150%;
    box-shadow: 5px 5px 8px 0 #333;

}

.font-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-btn{
   border-radius:30px;
   padding: 1rem 3rem;
   display: inline-block;
   background:#e64101;
   color: #fff;
   border: none;
   cursor: pointer;
}

.start-btn:hover{
    text-decoration: none;
    color: #fff;
    background: #e64101;
    box-shadow: 0 0 0 5px #fff, 0 0 0 10px #e64101; 
}

/*end game page*/
.bg-endgame {
    background: #7AB648;
    width: 100%;
    height: 100%;
    position: fixed;
    background-image: url('/media/index-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.8;
  
}

/*--read-more
.img-read-more {
 margin: 5px;
 padding: 3px;
 border: 0; 
}

*/
.social-networks {
    text-decoration: none;
    font-family: MedievalSharp, cursive;
    font-size: 1rem;
}
/* end_game.html */

.end-game {
    background-image: url("/media/St.-Patricks-Day1-675x477.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
  
p {
    font-family: 'Roboto Slab', serif;
}
.mycustom-jumbotron1 {
  background-color: rgb(123, 183, 70);
  
}
.mycustom-jumbotron2 {
  background-color: rgb(123, 183, 70);
  width: 50%;
  margin: 0 auto;
  
}

.mycustom-btn {
    color: rgb(123, 183, 70);
    font-family: 'MedievalSharp', cursive;
    border-radius: 20px;
    border: 2px solid rgba(0, 0, 0, 0.774);
}

.underline {
    text-decoration: underline;
}
.red {
    color: rgb(211, 18, 18);
}
.padding {
    padding-top: 3rem;
}

/* -- Card Game CSS -- */

.question-card {
  background-color: transparent;
  border-radius: 8px;
  width: 540px;
  height: 670px;
  margin-left: auto;
  margin-right: auto; 
  perspective: 1000;
  position: relative;
}

.question-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: 0.6s;
  transform-origin: 50% 50%;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.question-card.flipped .question-card-inner {
  transform: rotateY(180deg);  
}

.question-card-front, 
.question-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* -webkit-backface-visibility: hidden;*/
  backface-visibility: hidden;
}

.question-card-back {
  transform: rotateY(180deg);
  background-color: #f5a818;
  border-radius: 8px;
}

.question-card-front-image {
    width:540px;
    height:670px;
}

.question-words {
    margin-top: 2rem;
    padding-top: 2rem;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(1, auto);
    gap: 10px;
    margin: 20px 5px;
}

.question-btn.btn {
    border-radius: 30px;
    padding: 1rem 3rem;
    color: #000000;
    outline: none;
    border-color: #000000;
    font-size: 1.5rem;
}

.question-words {
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.5rem;
}

.btn.wrong {
    background-color: #ff0000;
    color: #ffffff;
}

.btn.correct {
    background-color: #7AB648;
}

.question-card-front.side {
    z-index: -1;
}

.question-card-front.side.left {
    text-align: right;
}

.question-card-front-image.side {
    height: 75%;
    width: auto;
}

.hide {
    display: none;
}

.drinks-count,
#drinks-score {
    color: #e64101;
}

    /*media queries*/
@media (max-width: 1025px){
    .question-card-front-image{
        max-width: 99%;
        height: auto;
  }
  .question-card-back {
      margin: auto auto;
      position: relative;
      max-width: 100%;
      height: auto;
  }
}
@media (max-width: 541px){
    .question-card-front-image{
        max-width: 90%;
        height: auto;
  }
  .question-card-back {
      margin: auto auto;
      position: relative;
      max-width: 45%;
      height: auto;
  }
}
@media (max-width: 415px){
    .question-card-front-image{
        max-width: 70%;
        height: auto;
  }
  .question-card-back {
      margin: auto auto;
      position: relative;
      max-width: 45%;
      height: auto;
      left: 60px;
  }
}

@media (max-width: 376px){
    .question-card-front-image{
        max-width: 65%;
        height: auto;
  }
  .question-card-back {
      margin: auto auto;
      position: relative;
      max-width: 45%;
      height: auto;
      left: 100px;
  }
}
@media (max-width: 360px){
    .question-card-front-image{
        max-width: 40%;
        height: auto;
  }
  .question-card-back {
      margin: auto auto;
      position: relative;
      max-width: 45%;
      height: auto;
      left: 110px;
  }
  .question-container{
      max-width: 360px;
  }
}

@media (max-width: 320px){
    .question-card-front-image{
        max-width: 55%;
        height: auto;
  }
    .question-card-back {
      margin: auto auto;
      position: relative;
      max-width: 45%;
      height: auto;
      left: 110px;
  }
}
@media (max-width: 281px){
    .question-card-front-image{
        max-width: 46%;
        height: auto;
  }
    .question-card-back {
      margin: auto auto;
      position: relative;
      max-width: 25%;
      height: auto;
      text-align: center;
      margin-right: 150px;
  }
}

@media (min-width: 321px) {
  html {
    font-size: calc(10px + 6 * ((100vw - 320px) / 680));
 
  }
  .jumbotron {
      min-width: 55%;
  }  
}
@media (min-width: 1000px) {
  html {
    font-size: 15px;
  }
}

@media (max-width:768px){
    .jumbotron {
        max-width: 80%;
       
    }

    .jumbotron span .icons {
        width: 20px;
    }
    
    h1 {
        font-size: 1.7rem;
        font-weight: 900;
        line-height: 1.5rem;
        letter-spacing: 0.01rem;
        color: #fff;

    }

    h2 {
        font-size: 1.6rem;
        font-weight: 900;
        line-height: 1.5rem;
        letter-spacing: 0.01rem;
    }

    p, .howto {
        font-size: 1.1rem;
        color: #000;
    }
}
