@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&family=Roboto+Slab:wght@300&display=swap');


/*--read-more
.img-read-more {
 margin: 5px;
 padding: 3px;
 border: 0; 
}

.read-more .social-networks {
    text-decoration: none;
}

*/
.read-more {
    background-image: url("/media/read_more/background_read_more.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
/* end_game.html */
h2, h5 {
    font-family: 'MedievalSharp', cursive;
}
p {
    font-family: 'Roboto Slab', serif;
}
.mycustom-jumbotron1 {
  background-color: rgb(123, 183, 70);
  
}
.mycustom-jumbotron2 {
  background-color: rgb(123, 183, 70);
  width: 50%;
  margin: 0 auto;
  
}

.mycustom-btn {
    color: rgb(123, 183, 70);
    font-family: 'MedievalSharp', cursive;
    border-radius: 20px;
    border: 2px solid rgba(0, 0, 0, 0.774);
}

.underline {
    text-decoration: underline;
}
.red {
    color: rgb(211, 18, 18);
}
.padding {
    padding-top: 3rem;
}