@import url('https://fonts.googleapis.com/css?family=Oswald|Lato:300');


img {
 margin: 5px;
 padding: 3px;
 border: 0; 
}

.read-more .social-networks {
    text-decoration: none;
}
.read-more {
    background-image: url("/media/read_more/background_read_more.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

}
