*{
    padding:0;
    margin:0;
    /* shrinks content - maintaining original size */
    box-sizing:border-box;
}

body{
    height: 100vh;
    background: black;
}
.game{
    border: 10px solid yellow;
    width: 640px;
    height: 640px;
    display: flex;
}
.card{
    border: 5px solid green;
    width:100%;
    height:100%;
}
.back-face{
    height: 100px;
    width:100px;
    background-color: red;
}
.front-face{
    height: 100px;
    width:100px;
    background-color: blue;
}
.back-face,
.front-face{
    position: absolute;
}